<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, minimu-scale=1.0, maximum-scale=1.0, userscalable=no">
    <title>单品团购模板</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/common.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/tablepay.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/wap/muban.css" media="all" />
</head>
<body style="background:#f0f2f5;">
<!-- header begain -->
<header>
    <div class="group_banner">
        <img src="../../assets/mould_img/one_group.jpg" width="100%"/>       
    </div>
</header>
<!-- header end -->
<!-- price begian -->
<section class="group_price">
   <ul class="clearfix">
       <li>
            <p>
                <span><i>￥</i>69.00</span>
                <em>158.00</em>
            </p>
       </li>
       <li>
           <p>距结束还剩:</p>
           <p>
               <span>02</span><i>:</i>
               <span>22</span><i>:</i>
               <span>43</span><i>:</i>
               <span>34</span>
           </p>
       </li>
   </ul>
</section>
<!-- price end -->
<section class="product_title">
    <p class="product_title_con">送豪礼 当天发Samsung/三星Galaxy On7 SM-G6100手机</p>
    <p class="product_title_gz">
        <span>规则</span>
        <i>限购</i>
        每个ID限购1件，超出数量以结算价为准
    </p>
</section>
<section class="address">
    <address>配送<span>河南  郑州市 中原区 城区</span></address> 
</section>
<footer class="group_footer">
    <a href="###">立即团购</a>
</footer>
</body>
</html>